html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*.container {
    max-width: 600px;
    padding: 16px;
    margin: auto;
    background: #ccc;
}*/

.container {
    overflow: visible;
}

.wider1 {
    max-width: 800px;
    background: red;
    padding: 16px;
}

.wrapper {
    padding: 2rem;
}

.wider2 {
    background: green;
    padding: 16px;
    max-width: 1200px;
}

.wider3 img {
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1200px) {

    /*.wider2 {
        max-width: 900px;
    }*/

}
